apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
  name: operator-certification-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: OperatorPipeline is the Schema for the operatorpipelines API
      displayName: Operator Pipeline
      kind: OperatorPipeline
      name: operatorpipelines.certification.redhat.com
      version: v1alpha1
  description: An Operator for setting up Operator Certification CI Pipeline
  displayName: Operator Certification Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - certification
  - pipeline
  links:
  - name: Operator Certification Operator
    url: https://github.com/redhat-openshift-ecosystem/operator-certification-operator
  maintainers:
  - email: jomckenz@redhat.com
    name: jomkz
  maturity: alpha
  provider:
    name: Redhat
    url: https://redhat.com
  version: 0.0.0
  minKubeVersion: 1.21.0
