apiVersion: certification.redhat.com/v1alpha1
kind: OperatorPipeline
metadata:
  name: operatorpipeline-sample
spec:
  openShiftPipelineVersion: v1.5.0
  operatorPipelinesRelease: main
  kubeconfigSecretName: "kubeconfig"
  gitHubSecretName: "github-api-token"
  pyxisSecretName: "pyxis-api-secret"
