
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: operatorpipelines.certification.redhat.com
spec:
  group: certification.redhat.com
  names:
    kind: OperatorPipeline
    listKind: OperatorPipelineList
    plural: operatorpipelines
    singular: operatorpipeline
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OperatorPipeline is the Schema for the operatorpipelines API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OperatorPipelineSpec defines the desired state of OperatorPipeline
            properties:
              kubeconfigSecretName:
                description: KubeconfigSecretName is the name of the secret containing
                  the kubeconfig that will be used by the pipeline.
                type: string
              openShiftPipelineVersion:
                description: OpenShiftPipelineVersion is the version of the OpenShift
                  Pipelines Operator to install.
                type: string
              operatorPipelinesRelease:
                description: OperatorPipelinesRelease is the Operator Pipelines release
                  (version) to install.
                type: string
            type: object
          status:
            description: OperatorPipelineStatus defines the observed state of OperatorPipeline
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
