name: Build Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build-release:
    name: Build and push a tag image
    runs-on: ubuntu-18.04
    env:
      IMAGE_REGISTRY: quay.io/opdev
    steps:
    - uses: actions/checkout@v2
    - name: Set Env Tags
      run: echo RELEASE_TAG=$(echo $GITHUB_REF | cut -d '/' -f 3) >> $GITHUB_ENV

    - name: Build Operator Image
      id: build-operator-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: ${{ env.IMAGE_REGISTRY }}/operator-certification-operator
        tags: ${{ env.RELEASE_TAG }}
        build-args: |
          release_tag=${{ env.RELEASE_TAG }}
        dockerfiles: |
          ./Dockerfile

  #  - name: Build Bundle Image
  #    id: build-bundle-image
  #    uses: redhat-actions/buildah-build@v2
  #    with:
  #      image: ${{ env.IMAGE_REGISTRY }}/operator-certification-operator-bundle
  #      tags: ${{ env.RELEASE_TAG }}
  #      build-args: |
  #        release_tag=${{ env.RELEASE_TAG }}
  #      dockerfiles: |
  #        ./bundle.Dockerfile

    - name: Push Operator Image
      id: push-operator-image
      uses: redhat-actions/push-to-registry@v2
      with:
        image: operator-certification-operator
        tags: ${{ steps.build-operator-image.outputs.tags }}
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    
  #  - name: Push Bundle Image
  #    id: push-bundle-image
  #    uses: redhat-actions/push-to-registry@v2
  #    with:
  #      image: operator-certification-operator-bundle
  #      tags: ${{ steps.build-bundle-image.outputs.tags }}
  #      registry: ${{ env.IMAGE_REGISTRY }}
  #      username: ${{ secrets.REGISTRY_USER }}
  #      password: ${{ secrets.REGISTRY_PASSWORD }}

    - run: echo "Operator Image pushed to ${{ steps.push-operator-image.outputs.registry-paths }}"
  #  - run: echo "Bundle Image pushed to ${{ steps.push-bundle-image.outputs.registry-paths }}"
