name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  sanity:
    name: sanity
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/setup-go@v2
      with:
        go-version: 1.17
      id: go
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - run: sudo rm -f /usr/local/bin/kustomize

    - name: Generate
      run: make generate && git diff --exit-code

    - name: Manifests
      run: make manifests && git diff --exit-code

    - name: Test
      run: make test
